
* {
 margin: 0;
 padding: 0;
}

.body {
  font-family: 'Mukta Mahee, sans-serif'; 
}

nav ul {
  list-style: none;
  display: none;
}

nav ul a {
  display: block;
  background: #0d1317;
  padding: 20px;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ad343e;
  transition: color 2s ease, background 1s ease,padding 1s ease;
}

nav ul a:hover {
  background: #474747;
  color: #e0e0ce;
  padding-left: 30px;
}

.nav-container img {
  width: 100px;
  align-self: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background: #474747;
  border-bottom: 3px solid #ad343e;
}

.bar {
  width: 30px;
  height: 3px;
  margin: 7px;
  background: #ad343e;
}

.btn {
  padding: 2px;
  display: inline-block;
  border: 2px solid #ad343e;
  align-self: center;
}

.banner-center img {
  width: 170px;
}

header {
  min-height: 100vh;
  background: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.1)), url(https://images.pexels.com/photos/1230739/pexels-photo-1230739.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)center/cover fixed no-repeat;
  display: flex;
  flex-direction: column;
}

nav {
  flex: 0 0 auto;
}

.banner {
  flex:1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner h1 {
  font-size: 45px;
  text-decoration: uppercase;
  color: white;
}

.banner h3 {
  text-transform: capitalize;
  font-size: 20px;
  color: white;
}

.and {
  color: #f5f3f5;
}

.banner-icons {
  padding: 20px;
}

.banner-icons a {
  display: inline-block;
  font-size: 50px;
  background: #474747;
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 50%;
  color: #f5f3f5;
  transition: color 1s ease, transform 1s ease;
}

.banner-icons a:hover {
  color: #ad343e;
  transform: translateY(-10px);
}

nav {
  position: fixed;
  width: 100%;
  z-index:10;
}

@media screen and (min-width:776px) {
  .nav-container{
    display: none;
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(13, 19, 23, 0.8)
  }
  nav ul a {
    background: transparent;
  }
}


/* section service */

.services {
  color: white;
  min-height: 100vh;
  background: url(https://images.pexels.com/photos/34153/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)center/cover fixed no-repeat;
  display: flex;
  align-items: center;
}

.service {
  color: #81d8f7;
  display: flex;
  margin: 40px;
}

.service-icon {
  align-self: center;
  font-size: 60px;
  margin-right: 20px;
  padding: 20px;
  border: 3px solid #f5f3f5;
  border-radius:50%;
}

.service-text h3  {
  text-transform: uppercase;
}

.service-text p {
  line-height: 2;
  margin-top: 5px;
}

@media screen and (min-width:576px){
  .services-center{
    width: 70%;

  }
}

@media screen and (min-width:776px){
  .service-center {
    width: 50%;
  }
  .service-text p {
    width: 70%;
  }
}

.projects {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  height: 90vh;
  width: 100%;
  background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.3)), url(https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center/cover no-repeat fixed;
}

.card {
  border: 1px solid black; 
  height: 35vh;
}

.card-title {
  height: 27vh;
  opacity: 0.9;
}

.card-bottom {
  display: flex;
  height: 8vh;
  color: #ad343e;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.card-text {
  font-size: 17px;
}



/* projects */


/*
.projects {
  padding: 0 0 100px 0;
  background: #f5f3f5;
}

.title h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #474747;
}

.title-underline {
  background: #ad343e;
  width:100px;
  height: 4px;
  margin: 10px auto;
}

.title {
  padding: 50px 0;

}

.project{
  background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
  overflow: hidden;

}

.project img {
  width: 100%;

  display: block;
  transition:opacity 1s ease, transform 2s ease;
}

.project img:hover {
  opacity: 0.3;
  cursor: pointer;
  transform: scale(1.3);
}*/
/*
@media screen and (min-width:576px) {
  .projects-center {
    display:flex;
    flex-wrap: wrap;
  }
  .project{
    flex: 0 0 calc(50%);
  }
}

@media screen and (min-width:776px) {
  
  .project{
    flex: 0 0 calc(33.3333333%);
  }
}
*/



@media screen and (min-width:576px) {
  .projects-center{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width:992px) {
  .projects-center{
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* About */

.about {
  color: white;
  min-height: 100vh;
  padding: 100px 0;
  background: url(https://images.pexels.com/photos/132650/pexels-photo-132650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center/cover fixed no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-card {
  background: rgba(255,255,255, 0.6);
  text-align: center;
  padding: 60px 40px;
}

.about-card h3 {
  font-size: 40px;
  text-transform: capitalize;
}

.about-card i {
  font-size: 60px;
  color: #ad343e;
  margin: 20px 0;
}

.about-card p {
  line-height: 2;
}

@media screen and (min-width:776px){
  .about-card {
    max-width:50%;
    border-radius: 30px;
  }
  .about-card p {
    max-width: 70%;
    margin: 0 auto;
  }
}

.filter{
  min-height: 60vh;;
  background: url(https://images.pexels.com/photos/34124/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center/cover fixed no-repeat;
}

/*footer*/

footer {
  background:#0d1317;
  padding: 60px 0;
  text-align: center;
}

.footer-icons a {
  display: inline-block;
  font-size: 30px;
  margin: 0 10px 20px 10px;
  padding: 2px 5px;
  border-radius: 5px;
  background: #f5f3f5;
  color: #0d1317;
}

footer p {
  color: #f5f3f5;
  font-size: 20px;
  letter-spacing: 1.6px;
}